<section class="s-hero">
    <h2>Top 5</h2>
    <article>
      <app-card *ngFor="let hero of heroes">
        <app-card-header>
          <h3>{{hero.name}}</h3>
        </app-card-header>
        <app-card-body>
          <img [src]="hero.thumbnail.path + '/standard_large.' + hero.thumbnail.extension" alt="hero image">
        </app-card-body>
        <app-card-footer>
          <button (click)="goToPage('details', hero)">Detalhes</button>
        </app-card-footer>
      </app-card>
    </article>
  </section>