<section class="s-1">
  <h1>Meus heróis favoritos</h1>
</section>
<router-outlet></router-outlet>
<section class="s-3">
  <h2>Qual o seu?</h2>
  <div>
    <input type="text" [(ngModel)]="searchText">
    <button (click)="getHeroes(searchText, true)">Pesquisar</button>
  </div>
  <article>
    <app-card *ngFor="let hero of otherHero">
      <app-card-header>
        <div class="s-3-card-header">
          <img [src]="hero.thumbnail.path + '/portrait_small.' + hero.thumbnail.extension" alt="hero image">
          <h3>{{hero.name}}</h3>
        </div>
      </app-card-header>
      <app-card-body>
        <p>{{hero.description}}</p>
      </app-card-body>
    </app-card>
  </article>
  <div>
    <br>
    <h1 *ngIf="showMessage">Não encontrei esse herói</h1>
  </div>
</section>