.s-1{
    h1{
        text-align: center;
        font-size: 5rem;
        color: crimson;
    }
}

.s-2{
    h2{
        text-align: center;
        font-size: 3rem;
        color: crimson;
    }
    article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        app-card{
            app-card-body{
                display: flex;
                flex-direction: row;
                div{
                    display: flex;
                    flex-direction: column;
                    h3{
                        font-size: 2rem;
                        margin: 1rem;
                    }
                }
            }
        }
    }
    div{
        text-align: center;
        button{
            margin-left: 1rem;
        }
        input{
            color: crimson;
        }
        h1{
            text-align: center;
            font-size: 5rem;
            color: crimson;
        }
    }
}